.detailsDiv {
  display: flex;
  /* align-items: center; */
  gap: 12px;
}
section.workElan {
  max-width: 1000px;
  margin: auto;
  padding: 8px;
}
section.workElan > div.detailsDiv > div.divImg {
  /* position: relative; */
}
section.workElan > div.detailsDiv > div.divImg > img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin-right: 12px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}
.workTime {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 8px;
  /* height: 150px; */
}
.workTime > a {
  text-decoration: none;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  
  align-items: flex-start;
  display: inline-block;
}
.workTime > a:hover {
  background-color: rgba(0, 0, 0, 0.847);
  padding: 9px 16px;
}
/* .workTime > div {
  align-items: flex-end;
} */
.workTime > div > p {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
.workTime > div > p:hover {
  background-color: rgba(0, 0, 0, 0.847);
  padding: 11px 10px;
}
.workTime > div > a {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}
.workTime > div > a:hover {
  background-color: rgba(0, 0, 0, 0.847);
  padding: 11px 10px;
}
.workName {
  flex: 1;
}
.workName>*{
margin: 8px 0px;
}
.workName>p{
  color: gray;
}
.workName>p:nth-child(2){
  color: black;
}
.workName>p>i{
  width: 20px;
  text-align: center;
}